<h2 class="title-text text-center">About Hair Illusion</h2>

<div class="row">
  <div class="col-md-12">
    <h4 class="title-text"><q><em>Now that I have been using Hair Illusion, my confidence is back!</em></q></h4>

    <p>I was voted <q>best hair</q> in junior high school. For me, this is emotional and something I never expected.</p>

    <p>
      My name is Ronnie and I'm the founder of Hair Illusion. I founded the company largely as a result of my own battle with hair loss. While perfection is quite hard to achieve, it’s certainly something I strive for everyday in my appearance.
    </p>

    <p>
      As I have gotten older and started losing more and more of my hair, I have looked for any solution available and tried all products that I have come across. After trying Rogaine and Propecia, I was less than satisfied. Next, I tried hair concealers.  After endless hours of Internet searching, I ordered my first bottle. I didn’t expect a miracle, but I was hoping that it would do a decent job masking my thinning hair. What I saw was simply amazing. It was a perfect fix. One minute I would walk into the bathroom with a big bald spot, and three minutes later I’d walk out with a <q>full head of hair.</q>
    </p>

    <p>
      A few weeks after initially trying the concealer, I was on vacation in Miami with friends. At that point, I hadn’t told anyone about the hair concealer. One afternoon, I showered and showed several of them my head and just how bald I was. Next, I went into the bathroom and applied the concealer. When I came out, I shocked everyone. They were amazed. It was right then when I knew I had a amazing product and that I could make it even better and help bald people everywhere. After years of research and searching all over the world, I have created Hair Illusion. Hair Illusion is different than other hair concealers. How? Hair Illusion is made with one ingredient, and one ingredient only... REAL hair. You simply can't get a better match than with real hair. While other concealers work well they are filled with chemicals and made from cotton and rayon. If you look closely, it actually looks like dust. To me, this isn’t perfect. Real hair fibers are perfect. 
    </p>

    <p>Today, I stand by my product 100%. If I didn’t, I wouldn't use it on my own head.</p>

    <div class="row">
      <div class="col-md-8">
        <div class="thumbnail well">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag('ronnie_before.jpg', class: "img-responsive") %>
            </div>
            <div class="col-md-4">
              <%= image_tag('ronnie_after.jpg', class: "img-responsive") %>
            </div>
            <div class="col-md-4">
              <%= image_tag 'ronnie_profile.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>Ronnie Passariello - CEO & Founder.</p>
  </div>
</div>
