<div class="outWrap outWhite" id="formWrap">
	<br />
	<div id="agentForm">
	<table class="table">
		<tr>
			<td class="wide_label_td" style="width:500px;color: #000;padding-top: 15px;padding-left: 190px">Enter your agent id/name to submit order:</td>
			<td>
				
				<%= text_field_tag :agent_id, '', {:include_blank=>true, class: 'form-control required', :required=>true, style:" width:240px;display:inline-block" } %>
				<%= link_to "Submit", '#', :onclick=>"onEnterAgent(event)", :class=>"btn btn-default btn-primary btn-sm", :style=>"text-decoration:none;margin-top:-5px" %>
				
 			</td>
		</tr>
	</table>
	</div>
	<br />

<div class="clearer"></div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#cb_country").change(function() {
			country = $("#cb_country").val();
			$.ajax({
				type : "GET",
				url : "/get_states?parent_region=" + country,
				dataType : "script",
			});
		});
	}); 
</script>
