<%= content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center">Hair Illusion – What it Is?</h2>
      <div class="row">
        <div class="col-md-12">
          <ul class="arrow">
            <li>
              Hair Illusion is a cosmetic product made from 100% real human hair that allows men and women to conceal the appearance of thinning hair and bald spots, giving the impression of more hair.
            </li>

            <li>Hair Illusion does not re-grow hair or stop hair loss; rather, it is only a cosmetic product that hides baldness.</li>

            <li>Hair Illusion is the only product using natural human hair. Nothing looks more natural than real human hair. we guarantee it</li>

            <li>
              Hair Illusion is a quick, easy and painless way, to end the suffering and replace it with a full head of hair! Hair Loss hits Hard When you first realize youre hair is thinning, or balding, it's hard not to feel affected. Regardless of age, for most of us, thinning or balding hair is a problem. So we look for solutions. And there's no shortage of them from creams to dry powders ... the bottomline is simple though. Nothing looks more natural than real human hair. The 1 ingredient found in hair illusion.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <p>From hair concealers to hair sprays, 99.99% of competitors products on the market are sub par ... especially compared to the REAL human hair fibers found in Hair Illusion.</p>

    <br/>

    <p>The competition simply doesn't get the job done with synthetic chemicals.</p>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="table-responsive comparision">
      <table class="table" BORDERCOLOR="#000000">
          <thead>
            <tr style="background-color: #000000; color: #ffffff">
              <th width="33%"></th>
              <th width="33%" style="text-align: center"><strong><%= image_tag('hair-illusion-logo-40.jpg') %></strong></th>
              <th width="33%" style="text-align: center; vertical-align:middle;"><strong>Competition</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>100% Real Human Hair</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>Free of Animal Content</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>No Synthetic Dyes</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>Silica Free</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>Cotton Free</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>Wool Free</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
            <tr>
              <td style="background-color: #000000; color: #ffffff; border-bottom-color: #ffffff"><strong>Amonium Cloride Free</strong></td>
              <td style="text-align: center; color: green;">&#x2713;</td>
              <td style="text-align: center; color: red;">&#x2717;</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <p>
      Hair Illusion does something simpler. Using Real Human Hair Fiber, it electro statically bonds to your hair and scalp. Literally giving the ‘illusion’ of having a full head of hair. Look for yourself
    </p>

    <br/>

    <p>
      Hair Illusion, the only product with REAL human hair fibers. Takes minutes to completely change the way YOUR head of hair looks.
    </p>
  </div>
</div>
