<div style="width: 100%;text-align: center;color:#fff;padding:20px;">

<h4> Thank you for your order.</h4>

<h4> Please check your email for confirmation email.</h4>

<br />
 
<%= link_to "Home", "/", :class=>"ordnwbtn" %>

</div>