 
#instafeed {
	margin: -8px 0
}
#instafeed .picture-wrapper {
	display: inline-block;
	width: 16.66667%;
	padding: 8px
}
#instafeed .picture-wrapper > a {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	font-size: 0
}
#instafeed .picture-wrapper img {
	width: 100%
}
#instafeed .picture-wrapper .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	transition: opacity 0.2s ease-in-out
}
#instafeed .picture-wrapper .overlay:hover {
	opacity: 0.4
}
.infinite-scrolling-loader {
	display: none;
	text-align: center
}
.infinite-scrolling-loader.loading {
	display: block
}
.slider {
	overflow: hidden;
	width: 100%;
	margin: 0 0 -125px 0
}
.flexslider {
	margin: 0;
	min-height: 600px;
	height: 800px
}
.flex-controls {
	position: absolute;
	bottom: 135px;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 2;
	bottom: 135px
}
.flex-direction-nav {
	max-width: 1100px;
	margin: 0 auto;
	cursor: pointer;
	text-align: right
}
.flex-direction-nav li {
	max-width: 1100px;
	margin: 0 auto
}
 
.cover-image {
	height: 800px;
	background-size: cover !important
}
.cover-image-alternate {
	display: none !important
}
.cover-text {
	position: absolute;
	width: 100%;
	z-index: 2;
	transform: translateZ(0);
	top: 300px
}
.slider-subtitle, .slider-title {
	display: inline-block;
	font-weight: 700
}
.slider-subtitle {
	margin-bottom: -4px;
	padding-bottom: 3px;
	color: #ec7067;
	font-size: 18px;
	font-family: Montserrat, serif;
	border-bottom: 5px solid #ec7067;
	text-transform: uppercase
}
.slider-title {
	margin: 25px 0 32px 0;
	padding-bottom: 3px;
	color: #fff;
	font-size: 80px;
	font-family: Playfair Display, serif
}
.slider-button {
	color: #222;
	background: #fff;
	font-size: 16px
}
.slider-button:hover {
	color: #fff;
	background: #ec7067
}
@media only screen and (max-width: 60em) {
	.slider-player {
		height: 470px
	}
	.cover-text {
		top: 330px
	}
}
@media only screen and (max-width: 40em) {
	.flexslider {
		height: auto
	}
	.slider {
		margin: 0
	}
	.slider-player {
		height: 218px
	}
	.cover-image {
		display: none
	}
	.cover-text {
		position: relative;
		top: 0;
		padding: 25px 10px;
		text-align: center;
		background: #ec7067
	}
	.cover-text > .container {
		text-align: center !important
	}
	.flexslider {
		margin-bottom: 20px;
		min-height: 0
	}
	.flex-controls {
		bottom: 0;
		top: 20px
	}
	.flex-direction-nav {
		text-align: center
	}
	.slider-subtitle, .slider-title {
		color: #fff;
		border-bottom-color: #fff
	}
	.slider-subtitle {
		font-size: 16px
	}
	.slider-title {
		margin-bottom: 20px;
		font-size: 24px
	}
	.cover-image-alternate {
		display: block !important
	}
	.slider-button, .slider-button:hover {
		color: #ec7067;
		background: #fff
	}
}
@font-face {
	font-family: "focal-shopify";
	src: url("//cdn.shopify.com/s/files/1/0740/6485/t/3/assets/focal-shopify.eot?18131037746444028206");
	src: url("//cdn.shopify.com/s/files/1/0740/6485/t/3/assets/focal-shopify.eot?%23iefix&18131037746444028206") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/0740/6485/t/3/assets/focal-shopify.woff?18131037746444028206"), url("//cdn.shopify.com/s/files/1/0740/6485/t/3/assets/focal-shopify.ttf?18131037746444028206"), url("//cdn.shopify.com/s/files/1/0740/6485/t/3/assets/focal-shopify.svg%23focal-shopify?18131037746444028206") format("svg");
	font-weight: normal;
	font-style: normal
}
[data-icon]:before {
	font-family: "focal-shopify" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "focal-shopify" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-facebook:before {
	content: "a"
}
.icon-google-plus:before {
	content: "b"
}
.icon-cart:before {
	content: "c"
}
.icon-bitcoin:before {
	content: "e"
}
.icon-cirrus:before {
	content: "f"
}
.icon-discover:before {
	content: "g"
}
.icon-fancy:before {
	content: "h"
}
.icon-google-wallet:before {
	content: "i"
}
.icon-interac:before {
	content: "j"
}
.icon-jcb:before {
	content: "k"
}
.icon-mastercard:before {
	content: "l"
}
.icon-paypal:before {
	content: "m"
}
.icon-stripe:before {
	content: "n"
}
.icon-twitter:before {
	content: "o"
}
.icon-vimeo:before {
	content: "p"
}
.icon-tumblr:before {
	content: "q"
}
.icon-search:before {
	content: "r"
}
.icon-rss:before {
	content: "s"
}
.icon-pinterest:before {
	content: "t"
}
.icon-maestro:before {
	content: "u"
}
.icon-instagram:before {
	content: "v"
}
.icon-dk:before {
	content: "w"
}
.icon-diners-club:before {
	content: "x"
}
.icon-amex:before {
	content: "y"
}
.icon-visa:before {
	content: "z"
}
.icon-cross:before {
	content: "A"
}
.icon-youtube:before {
	content: "B"
}
.icon-arrow-top:before {
	content: "C"
}
.icon-arrow-left:before {
	content: "D"
}
.icon-arrow-right:before {
	content: "E"
}
.icon-arrow-bottom:before {
	content: "F"
}
.icon-user:before {
	content: "d"
}
.icon-menu:before {
	content: "G"
}
.icon-plus:before {
	content: "J"
}
.icon-minus:before {
	content: "K"
}
.informational-bar {
	padding: 10px 0;
	background: #000414;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	overflow: hidden
}
.informational-bar .separator {
	padding: 0 4px
}
.informational-bar .message {
	color: #fff
}
.informational-bar .contact {
	float: right;
	color: #fff
}
.informational-bar .contact strong, .informational-bar .contact a {
	color: #fff;
	opacity: 0.6;
	transition: opacity 0.15s ease-in-out
}
.informational-bar .contact strong:hover, .informational-bar .contact a:hover {
	opacity: 1
}
.informational-bar .social-networks {
	display: inline-block;
	margin: 0;
	vertical-align: middle
}
.informational-bar .social-networks li {
	display: inline-block;
	margin-right: 4px
}
.informational-bar .social-networks li:last-child {
	margin-right: 0
}
@media only screen and (max-width: 60em) {
	.informational-bar {
		padding: 8px 0
	}
}
@media only screen and (max-width: 40em) {
	.informational-bar {
		display: none
	}
}
.top-header-container {
	position: relative
}
 
@media only screen and (max-width: 40em) {
	header[role="banner"] {
		padding: 20px 0
	}
	.push-header {
		margin: 0 !important
	}
	.header-logo {
		display: block;
		margin: 15px auto 30px auto;
		text-align: center
	}
	.header-logo .logo-image {
		display: inline-block;
		max-width: 100%
	}
	.header-desktop-nav {
		display: none
	}
	.header-mobile-nav {
		display: block
	}
	.header-mobile-nav .cart-count {
		position: absolute;
		margin: -15px 0 0 4px;
		padding: 1px 6px 1px 6px;
		border-radius: 100%;
		font-size: 11px;
		z-index: 2
	}
	.header-mobile-nav .tab-icon {
		position: relative;
		display: inline-block;
		padding: 12px 0;
		width: 100%
	}
	.header-mobile-nav .tab-icon:before {
		content: '';
		position: absolute;
		left: 0;
		height: 25px;
		width: 1px;
		top: 24%;
		background: #fff
	}
	.header-mobile-nav .mobile-nav-tabs {
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-bottom: 0;
		border-top: 1px solid #fff
	}
	.header-mobile-nav .mobile-nav-tabs > li {
		display: table-cell;
		text-align: center
	}
	.header-mobile-nav .mobile-nav-tabs > li:first-child .tab-icon:before {
		width: 0
	}
	.header-mobile-nav .mobile-nav-tabs > li.active {
		background: #474747;
		color: #fff
	}
	.header-mobile-nav .mobile-nav-tabs > li.active:before, .header-mobile-nav .mobile-nav-tabs > li.active+ li a:before {
		width: 0
	}
	.header-mobile-nav .mobile-nav-tabs > li i {
		font-size: 26px;
		vertical-align: middle
	}
	.header-mobile-nav .mobile-nav-tabs > li .icon-cart {
		font-size: 30px
	}
	.header-mobile-nav .mobile-nav-tabs .tab-content {
		display: none;
		position: absolute;
		width: 100%;
		padding: 20px;
		left: 0;
		top: 52px;
		text-align: left;
		font-size: 24px;
		background: #474747;
		color: #fff;
		border-bottom: 1px solid #474747;
		box-shadow: 0 1px 2px #3a3a3a;
		z-index: 50
	}
	.header-mobile-nav .mobile-nav-tabs > .active .tab-content {
		display: block
	}
	.header-mobile-nav input[type="search"] {
		border: 0;
		font-size: 24px;
		font-weight: 400;
		background: transparent;
		color: #fff
	}
	.header-mobile-nav input[type="search"]::-webkit-input-placeholder {
		color: #fff
	}
	.header-mobile-nav input[type="search"]::-moz-placeholder {
		color: #fff
	}
	.header-mobile-nav input[type="search"]:-ms-input-placeholder {
		color: #fff
	}
	.header-mobile-nav .mobile-customer-links .tab-content a {
		display: block;
		width: 100%
	}
	.header-mobile-nav .mobile-customer-links .tab-content a:first-child {
		margin-bottom: 20px
	}
	.header-mobile-nav .mobile-menu .tab-content {
		padding: 0;
		border-bottom: 0
	}
	.header-mobile-nav .header-nav-links {
		z-index: 5
	}
	.header-mobile-nav .header-nav-links li {
		position: relative;
		padding: 14px 10px;
		display: block;
		background: #474747;
		color: #fff;
		border-bottom: 1px solid #fff
	}
	.header-mobile-nav .header-nav-links .active {
		border-bottom: none
	}
	.header-mobile-nav .header-nav-links a {
		display: block;
		padding-bottom: 0;
		font-weight: 400 !important;
		font-size: 22px !important;
		text-transform: none !important;
		opacity: 1 !important
	}
	.header-mobile-nav .header-nav-links a:hover {
		background: inherit;
		color: inherit
	}
	.header-mobile-nav .header-nav-links a:after {
		display: none
	}
	.header-mobile-nav .header-nav-links .search-link {
		display: none
	}
	.header-mobile-nav .header-nav-links .dropdown.open > ul {
		display: block
	}
	.header-mobile-nav .header-nav-links .see-more {
		position: absolute;
		top: 15px;
		right: 0;
		margin-right: 10px;
		font-size: 36px
	}
	.header-mobile-nav .header-nav-links .icon-minus {
		margin-right: -1px
	}
	.header-mobile-nav .header-nav-links .icon-arrow-right {
		display: none
	}
	.header-mobile-nav .dropdown-level-1, .header-mobile-nav .dropdown-level-2 {
		position: relative;
		margin-top: 12px;
		margin-left: -15px;
		margin-right: -15px;
		border: none
	}
	.header-mobile-nav .dropdown-level-1 {
		padding: 0
	}
	.header-mobile-nav .dropdown-level-1 a {
		padding: 0 20px
	}
	.header-mobile-nav .dropdown-level-1 li {
		background: #fff;
		color: #474747;
		border-bottom: 1px solid #474747
	}
	.header-mobile-nav .dropdown-level-1:before {
		display: none
	}
	.header-mobile-nav .dropdown-level-2 {
		padding: 0;
		left: 0;
		top: 0
	}
	.header-mobile-nav .dropdown-level-2 a {
		padding: 0 40px
	}
	.header-mobile-nav .dropdown-level-2 li {
		background: #474747;
		color: #fff;
		border-bottom: 1px solid #fff
	}
	.header-mobile-nav .dropdown-level-2:before {
		display: none
	}
	.header-mobile-nav .is-nested:hover .dropdown-level-1, .header-mobile-nav .is-sub-nested:hover .dropdown-level-2 {
		display: none
	}
	.header-mobile-nav .is-nested.active {
		padding-bottom: 0
	}
	.header-mobile-nav .is-nested.active .dropdown-level-1 {
		display: block
	}
	.header-mobile-nav .is-sub-nested.active {
		padding-bottom: 0
	}
	.header-mobile-nav .is-sub-nested.active .dropdown-level-2 {
		display: block
	}
	.header-toolbar {
		display: none
	}
	.header-nav-links li {
		padding-right: 12px
	}
	.header-search {
		padding: 10px 15px 0
	}
	.top-header-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.top-header-container > .slider {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2
	}
	.top-header-container > .header {
		position: relative !important;
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
		padding-bottom: 0;
		background: #000414 !important
	}
}
footer[role="contentinfo"] {
	clear: both;
	overflow: hidden;
	margin-top: 25px;
	padding: 40px 0 15px 0;
	background: #282828
}
footer[role="contentinfo"] a {
	color: inherit
}
footer[role="contentinfo"] a:hover {
	color: #bdbdbd
}
.footer-row {
	display: table;
	width: 100%;
	margin: 0;
	border: 1px solid #505050
}
.footer-row+ .footer-row {
	border-top: 0
}
.footer-module {
	display: table-cell;
	margin-right: 15px;
	padding: 20px 30px;
	font-size: 12px;
	line-height: 1.5em;
	border-right: 1px solid #505050;
	color: #6f6f6f
}
.footer-module:last-child {
	border-right: none
}
.footer-title {
	margin-bottom: -4px;
	font-size: 11px;
	color: #f6bb42;
	text-transform: uppercase
}
.footer-logo {
	text-align: center;
	vertical-align: middle
}
.footer-logo img {
	max-width: 150px;
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out
}
.footer-logo:hover img {
	opacity: 1
}
.footer-links ul {
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
	white-space: nowrap
}
.footer-links li {
	line-height: 24px
}
.footer-social li {
	display: inline-block;
	margin-right: 6px;
	font-size: 16px
}
.footer-social li:last-child {
	margin-right: 0
}
.footer-social i {
	vertical-align: middle
}
.footer-newsletter form {
	position: relative;
	margin-top: 17px
}
.footer-newsletter input[type="email"] {
	padding: 12px 15px 10px 15px;
	background: #373737;
	color: #6f6f6f;
	font-size: 12px;
	border: none
}
.footer-newsletter input[type="email"]:focus {
	color: #c2c2c2
}
.footer-newsletter input[type="email"]::-webkit-input-placeholder {
	color: #6f6f6f
}
.footer-newsletter input[type="email"]::-moz-placeholder {
	color: #6f6f6f
}
.footer-newsletter input[type="email"]:-ms-input-placeholder {
	color: #6f6f6f
}
.footer-newsletter input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding-top: 5px;
	background: transparent;
	border: none;
	font-size: 11px;
	font-weight: 700;
	transition: color 0.2s ease-in-out;
	color: #6f6f6f
}
.footer-newsletter input[type="submit"]:hover {
	color: #c2c2c2
}
.footer-misc {
	margin-top: 35px;
	font-size: 12px;
	color: #6f6f6f
}
.footer-misc .copyright {
	float: left
}
.footer-misc .payment-methods {
	float: right;
	margin: -6px 0 0 0
}
.footer-misc .payment-methods li {
	display: inline-block;
	margin-right: 8px;
	font-size: 30px
}
.footer-misc .payment-methods li:last-child {
	margin-right: 0
}
@media only screen and (max-width: 60em) {
	footer[role="contentinfo"] {
		padding: 15px 0
	}
}
@media only screen and (max-width: 40em) {
	.footer-row {
		display: block;
		border-bottom: 0
	}
	.footer-module {
		display: block;
		margin-right: 0;
		text-align: center;
		border-right: 0;
		border-bottom: 1px solid #505050
	}
	.footer-links ul {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		white-space: normal
	}
	.footer-misc {
		text-align: center
	}
	.footer-misc .copyright, .footer-misc .payment-methods {
		float: none
	}
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}


p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0
}
p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
	margin-bottom: 0
}
.index footer[role="contentinfo"] {
	margin-top: 0
}
.marketing-module {
	position: relative;
	width: 100%;
	margin-bottom: 35px;
	z-index: 10;
	font-size: 0
}
.marketing-module > div {
	padding: 20px;
	background: #fff;
	overflow: hidden
}
.marketing-module img {
	opacity: 1;
	transition: opacity 0.2s linear
}
.marketing-module img:hover {
	opacity: 0.6
}
.marketing-module img {
	width: 50%
}
.marketing-module img.first {
	float: left;
	height: auto;
	padding-right: 10px
}
.marketing-module img.second, .marketing-module img.third {
	display: block;
	height: auto;
	padding-left: 10px
}
.marketing-module img.second {
	margin-bottom: 20px
}
.index-module {
	padding: 40px 0;
	transform: translateZ(0)
}
.index-section-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 30px;
	font-size: 30px;
	font-family: Playfair Display, serif
}
.new-products {
	background-color: #f3f4f4
}
.new-products .index-section-title {
	color: #8a8787
}
.new-products .product-list {
	margin-bottom: -5%
}
.new-products .product-list .grid-item {
	float: left;
	width: 30%;
	margin-left: 5%;
	margin-bottom: 5%
}
.new-products .product-item-title {
	color: #222
}
.new-products .product-item-brand {
	color: #a2a2a2
}
.new-products .price, .new-products .price-between {
	color: #a2a2a2
}
.featured-products {
	background-color: #fff
}
.featured-products .index-section-title {
	color: #7a7264
}
.featured-products .product-list {
	margin-bottom: -5%
}
.featured-products .product-list .grid-item {
	float: left;
	width: 30%;
	margin-left: 5%;
	margin-bottom: 5%
}
.featured-products .product-item-title {
	color: #222
}
.featured-products .product-item-brand {
	color: #a2a2a2
}
.featured-products .price, .featured-products .price-between {
	color: #a2a2a2
}
.featured-collections {
	background-color: #222
}
.featured-collections .index-section-title {
	color: #9f9a91
}
.featured-collections .collection-list {
	margin-bottom: -5%
}
.featured-collections .collection-list .grid-item {
	float: left;
	width: 48.5%;
	margin-left: 3%;
	margin-bottom: 5%
}
.featured-collections .collection-item-title {
	color: #919191
}
.featured-collections .product-count {
	color: #919191
}
.featured-collections .collection-list-item .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0;
	transition: opacity 0.2s ease-in-out
}
.featured-collections .collection-list-item .overlay:hover {
	opacity: 0.4
}
.free-text-module-1 {
	background-color: #ec7067
}
.free-text-module-1 .index-section-title {
	color: #fff
}
.free-text-module-1 .rte {
	color: #fff;
	font-size: 16px
}
.free-text-module-1 .rte img {
	max-width: 100%
}
.free-text-module-2 {
	background-color: #fff
}
.free-text-module-2 .index-section-title {
	color: #919191
}
.free-text-module-2 .rte {
	color: #919191;
	font-size: 16px
}
.free-text-module-2 .rte img {
	max-width: 100%
}
.latest-posts {
	background-color: #f3f4f4
}
.latest-posts .index-section-title {
	color: #8a8787
}
.latest-posts .article-excerpt-list {
	overflow: hidden;
	margin: 0;
	margin-bottom: -5%
}
.latest-posts .article-excerpt-list .grid-item {
	float: left;
	width: 30%;
	margin-left: 5%;
	margin-bottom: 5%
}
.flexbox .latest-posts .article-excerpt-list {
	display: -webkit-flex;
	display: flex
}
.latest-posts .article-list-item-meta {
	padding: 0 22px 12px 22px
} 

#instafeed {
	font-size: 0
}
.instagram-feed {
	background-color: #fff
}
.instagram-feed .icon-instagram {
	vertical-align: middle;
	margin-right: 10px
}
.instagram-feed .instagram-see-all {
	position: absolute;
	right: 0;
	text-transform: uppercase
}
.instagram-feed .index-section-title {
	position: relative;
	color: #7a7264
}
 
 